section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 560px;
  padding: 20px;
  background-color: #eee;
  border-radius: 12px;
}

section form .row {
  display: flex;
  width: 100%;
  gap: 14px;
}

section form mat-form-field {
  width: 100%;
}
