
<div class="type-of-washing">
    <h2 class="title">Escolha o tipo de Lavagem</h2>
    <div class="cards-of-washing">
        <!-- Inputs de rádio para controlar a seleção -->
        <input type="radio" id="card1" name="card" class="card-radio" checked>
        <label for="card1" class="card">
            <div class="card-header">
                <p>Lavagem Simples</p>
                <i><mat-icon>info</mat-icon></i>
            </div>
            <div class="card-description">
                <div class="text">
                    <i><mat-icon>attach_money</mat-icon></i>
                    <p>R$ 20,00</p>
                </div>
                <div class="text">
                    <i><mat-icon>timer</mat-icon></i>
                    <p>8 min</p>
                </div>
            </div>
        </label>

        <input type="radio" id="card2" name="card" class="card-radio">
        <label for="card2" class="card">
            <div class="card-header">
                <p>Lavagem Completa</p>
                <i><mat-icon>info</mat-icon></i>
            </div>
            <div class="card-description">
                <div class="text">
                    <i><mat-icon>attach_money</mat-icon></i>
                    <p>R$ 50,00</p>
                </div>
                <div class="text">
                    <i><mat-icon>timer</mat-icon></i>
                    <p>20 min</p>
                </div>
            </div>
        </label>

        <input type="radio" id="card3" name="card" class="card-radio">
        <label for="card3" class="card">
            <div class="card-header">
                <p>Lavagem Simples</p>
                <i><mat-icon>info</mat-icon></i>
            </div>
            <div class="card-description">
                <div class="text">
                    <i><mat-icon>attach_money</mat-icon></i>
                    <p>R$ 20,00</p>
                </div>
                <div class="text">
                    <i><mat-icon>timer</mat-icon></i>
                    <p>8 min</p>
                </div>
            </div>
        </label>

        <input type="radio" id="card4" name="card" class="card-radio">
        <label for="card4" class="card">
            <div class="card-header">
                <p>Lavagem Simples</p>
                <i><mat-icon>info</mat-icon></i>
            </div>
            <div class="card-description">
                <div class="text">
                    <i><mat-icon>attach_money</mat-icon></i>
                    <p>R$ 20,00</p>
                </div>
                <div class="text">
                    <i><mat-icon>timer</mat-icon></i>
                    <p>8 min</p>
                </div>
            </div>
        </label>
    </div>
</div>