<div id="container">
  <header>
    <ul>
      <li>
        <a [routerLink]="['home']">
          <h1>LavaZen</h1>
        </a>
      </li>

      <li>
        <a [routerLink]="['reservations']">Agendamentos</a>
      </li>
    </ul>

    <button class="avatar" [matMenuTriggerFor]="menu">
      <img src="/avatar-angular.png" alt="Foto de perfil" />
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['profile']">
        <mat-icon>person</mat-icon>

        <span>Meu perfil</span>
      </button>

      <button mat-menu-item>
        <mat-icon>settings</mat-icon>

        <span>Configurações</span>
      </button>

      <button mat-menu-item>
        <mat-icon>logout</mat-icon>

        <span>Sair</span>
      </button>
    </mat-menu>
  </header>

  <main>
    <router-outlet />
  </main>
</div>
