<div>
  <h2>Meu perfil</h2>

  <form [formGroup]="profileForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Nome:</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone:</mat-label>
      <input type="tel" matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento:</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDay" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Endereço:</mat-label>
      <input type="text" matInput formControlName="address" />
    </mat-form-field>

    <div class="row">
      <button type="submit" mat-flat-button>Salvar alterações</button>

      <button mat-flat-button class="delete" type="button" (click)="handleDeleteUser()">
        Apagar conta
      </button>
    </div>
  </form>
</div>
