<div>
  <h2>Meu perfil</h2>

  <form>
    <mat-label>Avatar</mat-label>
    <div class="avatar">
      <img src="/avatar-angular.png" alt="" />
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Nome:</mat-label>
      <input type="text" value="Lucas Andrade" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone:</mat-label>
      <input type="tel" value="55999999999" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento:</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Endereço:</mat-label>
      <input type="text" value="Rua João Pessoa, 200" matInput />
    </mat-form-field>

    <button type="submit" mat-flat-button>Salvar alterações</button>
  </form>
</div>
